@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-base-200;
}

.ProseMirror {
  @apply outline-none;
}

/* CSS custom untuk membuat scrollbar autohide */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-base-300;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-autohide {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
  overflow-y: scroll;
}

.ce-toolbar svg {
  @apply text-base-content h-6 w-6;
}
.ce-popover {
  @apply bg-base-200   border-primary-focus;
}

.cdx-search-field {
  @apply bg-primary/50 border-none mb-1;
}
.ce-popover .ce-popover__item-icon {
  @apply bg-primary shadow-none;
}
.ce-popover__item:hover {
  @apply hover:bg-primary-focus;
}

.ce-toolbar__plus:hover {
  @apply hover:bg-primary-focus;
}

.ce-toolbar__settings-btn:hover {
  @apply hover:bg-primary-focus;
}

.ce-block--selected .ce-block__content {
  @apply bg-transparent;
}

.ce-popover__overlay {
  @apply bg-transparent;
}

@media (max-width: 650px) {
  .ce-toolbar__plus {
    @apply bg-primary shadow-none  border-none;
  }
  .ce-toolbar__settings-btn {
    @apply bg-primary shadow-none  border-none;
  }
}

.bg-linear::before {
  @apply absolute inset-0 bg-base-100/90 backdrop-blur-lg;
  content: "";
}

@layer components {
  .btn {
    @apply text-[16px] rounded-sm;
  }

  .select-dropdown {
    @apply bg-transparent outline-none cursor-pointer;
  }
  .select-dropdown option {
    @apply bg-base-200 p-5;
  }

  .input {
    @apply focus:outline-none border-none rounded-sm bg-secondary;
  }
  .form-control {
    @apply space-y-2;
  }
}
